/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

	/*Header CSS Start*/
	.navbar-brand img {
		width: 85px;
	}

	.header {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.fixedmenu {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.header .navbar-nav {
		text-align: center;
		background-color: dimgray;
	}

	.header .navbar-nav .nav-item {
		padding: 5px 0px;
		z-index: 999;
	}

	.header .navbar-nav .nav-item a:before {
		bottom: -8px;
	}

	.header.fixedmenu .navbar-nav .nav-item .nav-link:before {
		position: absolute;
		content: "";
		bottom: -8px;
		left: 0;
		height: 3px;
		width: 100%;
		background-color: #fec600;
		opacity: 0;
		transition: all .3s linear;
	}

	.header .navbar-nav .nav-item a {
		font-size: 14px;
	}

	/*Header CSS End*/

	/*Banner CSS Start*/
	.banner_1,
	.banner_2,
	.banner_3 {
		height: 450px;
	}

	.banner_overlay {
		padding-top: 120px;
	}

	.banner_overlay h2 {
		font-size: 20px;
	}

	.banner_overlay h1 {
		font-size: 39px;
	}

	.banner_overlay p {
		font-size: 12px;
		width: 280px;
	}

	.banner_overlay a {
		height: 32px;
		width: 100px;
		font-size: 12px;
		margin: 0px 5px;
		line-height: 32px;
	}

	/*Banner CSS ENd*/

	/*About Us Start*/
	.header_section h2 {
		font-size: 25px;
		margin-bottom: 20px;
	}

	.header_section p {
		font-size: 12px;
		line-height: 22px;
	}

	.about_content {
		padding-top: 30px;
	}

	.about_content .about_text {
		padding: 15px 10px;
		margin: 0px 20px;
	}

	.about_content .about_text h3 {
		font-size: 15px;
		margin-bottom: 10px;
	}

	.about_content .about_text p {
		font-size: 12px;
	}

	.about_text i {
		display: none;
	}

	.r_arrow {
		margin-top: 10px;
		margin-bottom: 15px;
	}

	.about_content .about_text.r_arrow:before {
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		border-left: 16px solid transparent;
		border-right: 16px solid transparent;
		border-top: 16px solid #eeee;
	}

	.about_mid_part .about_img {
		height: 250px;
		width: 250px;
	}

	.about_mid_part .about_img:before {
		top: -9.5px;
		left: -10.5px;
		height: 270px;
		width: 270px;
	}

	.l_arrow {
		margin-top: 15px;
	}

	.about_content .about_text.l_arrow:before {
		top: -32px;
		left: 50%;
		transform: translateX(-50%);
		border-left: 16px solid transparent;
		border-right: 16px solid transparent;
		border-bottom: 16px solid #eeeeee;
	}

	.about_bottom {
		margin-top: 25px;
	}

	/*About Us End*/

	/*Our Portfolio Part Start*/
	.portfolio_content {
		padding-top: 30px;
	}

	.portfolio_image {
		margin: 0px 40px;
	}

	.portfolio_image img {
		height: 250px;
		width: 100%;
	}

	.portfolio_content .portfolio_image .p_img {
		margin-bottom: 20px;
	}

	.portfolio {
		height: 900px;
	}

	/*Our Portfolio Part End*/

	/*Our Service Part Start*/
	.service_content {
		padding-top: 100px;
		padding-bottom: 50px;
	}

	.service_slide h4 {
		text-align: center;
	}

	.service_content .service_slider h4 {
		margin-top: 10px;
		font-size: 15px;
	}

	.service_content .service_slider .middle_icon {
		padding-top: 75px;
		margin-bottom: 20px;
		margin-top: -50px;
	}

	.service_content .service_slider .middle_icon img {
		height: 35px;
		width: 28px;

	}

	.service_content .service_slider .service_icon {
		height: 50px;
		width: 50px;
	}

	.service_content .service_slider .service_text {
		padding: 25px 20px;
	}

	.service_content .service_slider .service_text p {
		font-size: 12px;
	}

	/*Our Service Part End*/

	/*Testimonial Part Start*/
	.testimonial_overlay .test_img{
		
	}
	.testimonial_img_slider .slick-slide.slick-current .test_img .t_img{
		height: 80px;
		width: 80px;
		margin: 5px auto;
	}
	.testimonial_img_slider .slick-slide.slick-current .test_img .t_img img{
		height: 70px;
		width: 70px;
	}
	/*testimonial Part End*/

}



/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}
